<html>
<head>
</head>
<body>
    <div>
        <div>
            <h3>Town Planning  Payment</h3>
        </div>

        <form method="post">
            <br />
            <table width="400">
                <tr>
                    <td><input type="hidden" name="pgMerchantId" id="pgMerchantId" value="pg_app_tps"></td>
                </tr>
                <tr>
                    <td>Vote No: </td>
                    <td><input type="text" name="voteNumber" id="voteNumber" value="4TESTVOTENOmkzzzzz16" /></td>
                </tr>
                <tr>
                    <td>Merchant Reference No: </td>
                    <td><input type="text" name="pgMerchantReference" id="pgMerchantReference" value="TPS20200213" /></td>
                </tr>
                <tr>
                    <td>Merchant Description: </td>
                    <td><input type="text" name="pgMerchantDescription" id="pgMerchantDescription" value="Town Planning Fee" /></td>
                </tr>
                <tr>
                    <td>Amount Due (Rand): </td>
                    <td><input type="text" name="Amount" id="Amount" value="10" /></td>
                </tr>
                <tr>
                    <td>Customer  Email: </td>
                    <td><input type="text" name="pgEmail" id="pgEmail" value="email@email.com" /></td>
                </tr>
                <tr>
                    <td>Customer Mobile No: </td>
                    <td><input type="text" name="pgMobile" id="pgMobile" value="0731442326" /></td>
                </tr>
                <tr>
                    <td>Customer First Name: </td>
                    <td><input type="text" name="customerFirstName" id="customerFirstName" value="Neville" /></td>
                </tr>
                <tr>
                    <td>Customer Last Name: </td>
                    <td><input type="text" name="customerLastName" id=" customerLastName " value="van Deventer" /></td>
                </tr>
                <tr>
                    <td>Adhoc Ref1: </td>
                    <td><input type="text" name="adhocRef1" id="adhocRef1" value="ERF"></td>
                </tr>

                <tr>
                    <td>Adhoc Ref2: </td>
                    <td><input type="text" name="adhocRef2" id="adhocRef2" value=""></td>
                </tr>
                <tr>
                    <td>Adhoc Ref3: </td>
                    <td><input type="text" name="adhocRef3" id="adhocRef3" value=""></td>
                </tr>
                <tr>
                    <td>Adhoc Ref4: </td>
                    <td><input type="text" name="adhocRef4" id="adhocRef4" value=""></td>
                </tr>
                <tr>
                    <td>Adhoc Ref5: </td>
                    <td><input type="text" name="adhocRef5" id="adhocRef5" value=""></td>
                </tr>
                <tr>
                    <td>Return URL: </td>
                    <td><input type="hidden" name="returnUrl" id="returnUrl" value=""></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <input type="submit" id="payG" align="bottom" vspace="3" width="100" height="57" alt="Pay Now" title="Pay Now with Siyakhokha Payment Portal" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
