
@{
    ViewBag.Title = "WayleaveAccount";
    Layout = "~/Views/Shared/_LayoutWayleaveAccount.cshtml";
}

<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    select {
        vertical-align: top;
        height: 30px;
    }

    input, select {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .badge {
        display: inline-block;
        width: 80px;
        padding: 7px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #777;
        border-radius: 10px;
    }

    .headindg-size {
        margin-left: -26px;
        font-size: 14px;
        padding: 2px;
    }

    span {
        height: 24px !important;
        font-size: 10px !important;
    }

    .panel-default-custom {
        border: 0.5px solid transparent;
    }

        .panel-default-custom > .panel-heading {
            color: #000;
            background-color: #f3f0e1;
            /* border-color: #ddd; */
            border: none;
            border-radius: 0;
            height: 22px;
        }

    .panel-group {
        margin-bottom: 0px;
    }

    role {
        margin-right: 80px;
        margin-left: 20px;
        font-weight: normal;
        float: left;
        margin: 0px;
        margin-top: 8px;
        margin-left: 10px;
        font-size: 11px !important;
    }

    label {
        font-size: 11px;
        padding: 0;
        font-weight: 500;
        padding-left: 3px;
        margin-bottom: -10px;
    }
</style>

<style type="text/css">
    #right-panel {
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }

        #right-panel select,
        #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        }


    #map {
        width: 100%;
        height: 250px;
        margin: 0px !important;
        padding: 0px !important
    }

    #right-panel {
        float: right;
        width: 34%;
        height: 100%;
    }

    .panel {
        height: 100%;
        overflow: auto;
    }

    .errorNew {
        border: 2px solid red !important;
        border-color: red !important;
        color: red !important;
    }
</style>
@*<script src="~/AngularJs/controllers/WayleaveAccountCntrl.js"></script>
<script src="~/AngularJs/services/wayleaveAccountService.js"></script>*@
<section class="content" style="padding-right: 0;padding-top:0;margin-top:-10px!important" ng-controller="WayleaveAccountCntrl" ng-cloak>


    @using (Html.BeginForm("WlAccountForm", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-group" style="margin-left: -25px;margin-right: -14px;
        margin-bottom: 3px !important;">
            <div class="panel panel-default" style="border:none!important">
                <div class="panel-heading" style="background:#d2930b;padding-top:5px!important">
                    <a class="fa fa-chevron-left pull-left" style="font-size:16pt!important;text-decoration:none!important;color:#fff!important" title="Back to home" href="../WayleaveAccount/Index"></a>
                    <h4 class="panel-title text-center" style="font-size:16pt!important">
                        Wayleave Account
                    </h4>
                </div>
                <div style="border:1px solid #b59b5a;">
                    <div class="panel-body" style="padding: 5px!important;">
                        <div style="margin-bottom:10px !important;">
                            <input id="Qs_PersonMandatory"
                                   class="radio-custom" ng-disabled="disableRadioBtn" checked ng-click="showAccountScreen('New')" name="Qs_PersonMandatory" type="radio"
                                   style="margin-top: 10px !important;margin-left: 28px !important;background-color:#d2930b!important">
                            <label for="Qs_PersonMandatory" class="radio-custom-label"
                                   style="margin-top: 10px;padding: 6px;">New Account</label>&nbsp;&nbsp;
                            <input id="Qs_PersonMandatory1" ng-disabled="disableRadioBtn" class="radio-custom" ng-click="showAccountScreen('Renewal')"
                                   name="Qs_PersonMandatory" type="radio"
                                   style="margin-top: 10px !important">
                            <label for="Qs_PersonMandatory1" class="radio-custom-label"
                                   style="margin-top:10px;padding: 6px;">Renewal of Account</label>
                        </div>

                        <div>
                            <div class="panel-group" style="margin-left: 0px;margin-bottom:3px!important;">
                                <div class="panel-group" style="margin-left: 0px;margin-bottom:3px!important;margin-top:10px !important">
                                    <div class="panel panel-default" style="border:none!important">
                                        <div id="collapse_search_1" class="panel-collapse collapse in" style="border:none">
                                            <div class="panel-body" style="padding: 0;" ng-show="IsNewAccount">
                                                <div class="col-lg-6">
                                                    <div class="input-group input-label">
                                                        <label class="control-label"> Type of User</label>
                                                        <select style="border-radius: 4px" ng-class="{'has-error': (WlAccountForm.UserType.$dirty
                                          || submitted) && WlAccountForm.UserType.$error.required}" required
                                                                class="form-control" name="UserType" ng-model="WlAccountModel.userType">
                                                            <option value="" selected>Make a selection</option>
                                                            <option value="Consultant">Consultant</option>
                                                            <option value="Contractor">Contractor</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel-body" style="padding: 0;" ng-hide="IsNewAccount">
                                                <div class="col-lg-4">
                                                    <div class="input-group input-label">
                                                        <label class="control-label">Search Account Number</label>
                                                        <input type="text" placeholder="Type to search account number" style="border-radius: 4px" class="form-control" ng-model="AccountNumber"
                                                               name="AccountNumber" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <button class="btn btn-sm btn-success" ng-click="BindAccountInformation(AccountNumber)" style="background-color: #036638 !important; margin-top: 13px !important; height: 24px; padding: 5px; font-size: 10px ">
                                                        <i class="fa fa-spinner fa-spin" ng-if="isLoading"></i>
                                                        Bind Account Information
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" style="margin-left: 0px;margin-bottom:3px!important;margin-top:10px !important" id="accordionSerach">
                            <div class="panel panel-default" style="border:none!important;overflow:hidden">
                                <div class="panel-heading" style="background:#d2930b">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionSerach" href="#collapse_search_1">
                                            <i class="fa fa-plus" style="display: none;font-size: 12px;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Company Information
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_search_1" class="panel-collapse collapse in" style="border: 1px solid #b59b5a;">
                                    <div class="panel-body" style="padding: 10px;">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Company Name</label>
                                                        <input type="text" style="border-radius: 4px" ng-model="WlAccountModel.companyName"
                                                               class="form-control" name="CompanyName"
                                                               ng-class="{'has-error': (WlAccountForm.CompanyName.$dirty
                                          || submitted) && WlAccountForm.CompanyName.$error.required}" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Company Full Name</label>
                                                        <input type="text" style="border-radius: 4px" ng-model="WlAccountModel.companyFullName"
                                                               class="form-control" name="CompanyFullName1"
                                                               ng-class="{'has-error': (WlAccountForm.CompanyFullName.$dirty
                                          || submitted) && WlAccountForm.CompanyFullName.$error.required}" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Company Registration Number</label>
                                                        <input type="text" style="border-radius: 4px" ng-model="WlAccountModel.companyRegistrationNumber"
                                                               class="form-control" name="CompanyRegistrationNumber" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Expiration Date of Trade License</label>
                                                        <input type="text" style="border-radius: 4px" datepicker ng-model="WlAccountModel.tradeLicenseExpirationDate"
                                                               class="form-control" name="TradeLicenseExpirationDate" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%" ng-if="!IsWayleaveAccountAuthenticated||WlAccountModel.status=='Rejected'">
                                                        <label>Upload Trade License</label>
                                                        <input type="file" id="tradeLicensefile" style="border-radius: 4px;padding: 3px !important"
                                                               class="form-control" name="TradeLicenseFile" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group" style="width: 100%;margin-top:10px;margin-left:20px;" ng-if="IsWayleaveAccountAuthenticated">
                                                        <label>
                                                            Current Trade License File
                                                            <br /> <a ng-click="OpenFileNewTab(WlAccountModel.tradeLicenseFile)" href="#" style="color: #00337f; font-weight: 700">View</a>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;" id="consultantInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#d2930b">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#consultantInfo" href="#collapse_consultantInfo">
                                            <i class="fa fa-plus" style="display: none;font-size: 12px;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Contact Person Information
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_consultantInfo" class="panel-collapse collapse in" style="border: 1px solid #b59b5a;">
                                    <div class="panel-body" style="padding: 10px;">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Contact Person First Name</label>
                                                        <input type="text" style="border-radius: 4px" ng-model="WlAccountModel.contactPersonFirstName"
                                                               class="form-control" name="ContactPersonFirstName" ng-class="{'has-error': (WlAccountForm.ContactPersonFirstName.$dirty
                                          || submitted) && WlAccountForm.ContactPersonFirstName.$error.required}" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Contact Person Last Name</label>
                                                        <input type="text" style="border-radius: 4px" ng-model="WlAccountModel.contactPersonLastName"
                                                               class="form-control" name="ContactPersonLastName" ng-class="{'has-error': (WlAccountForm.ContactPersonLastName.$dirty
                                          || submitted) && WlAccountForm.ContactPersonLastName.$error.required}" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Designation</label>
                                                        <input type="text" style="border-radius: 4px" ng-model="WlAccountModel.designation"
                                                               class="form-control" name="Designation" ng-class="{'has-error': (WlAccountForm.Designation.$dirty
                                          || submitted) && WlAccountForm.Designation.$error.required}" required />
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Telephone Number</label>
                                                        <input type="text" style="border-radius: 4px" ng-minlength="10" maxlength="10" min="10" max="10" numbers-only ng-model="WlAccountModel.telephoneNumber"
                                                               class="form-control" name="TelephoneNumber" ng-class="{'has-error': (WlAccountForm.TelephoneNumber.$dirty) && WlAccountForm.TelephoneNumber.$error.required||WlAccountForm.TelephoneNumber.$error.minlength || WlAccountForm.MobileNumber.$error.maxlength}" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Mobile Number</label>
                                                        <input type="text" style="border-radius: 4px" ng-model="WlAccountModel.mobileNumber"
                                                               class="form-control" name="MobileNumber" numbers-only ng-minlength="10" maxlength="10" min="10" max="10" ng-class="{'has-error': (WlAccountForm.MobileNumber.$dirty
                                          || submitted) && WlAccountForm.MobileNumber.$error.required||WlAccountForm.MobileNumber.$error.minlength || WlAccountForm.MobileNumber.$error.maxlength}" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Email</label>
                                                        <input type="text" style="border-radius: 4px" ng-pattern="emailFormat" ng-model="WlAccountModel.email"
                                                               class="form-control" name="Email" ng-class="{'has-error': (WlAccountForm.Email.$dirty
                                          || submitted) && WlAccountForm.Email.$error.required||WlAccountForm.Email.$error.pattern}" required />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Fax No</label>
                                                        <input type="text" style="border-radius: 4px" numbers-only ng-model="WlAccountModel.fax"
                                                               class="form-control" name="Fax" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;" id="WayleaveTypeInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#d2930b">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#WayleaveTypeInfo" href="#collapse_WayleaveTypeInfo">
                                            <i class="fa fa-plus" style="display: none;font-size: 12px;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Address Information
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_WayleaveTypeInfo" class="panel-collapse collapse in" style="border: 1px solid #b59b5a;">
                                    <div class="panel-body" style="padding: 10px;">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Street Name</label>
                                                        <input rows="3" style="border-radius: 4px" ng-model="WlAccountModel.streetName"
                                                               class="form-control" name="StreetName" ng-class="{'has-error': (WlAccountForm.StreetName.$dirty
                                          || submitted) && WlAccountForm.StreetName.$error.required}" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">City</label>
                                                        <input type="text" style="border-radius: 4px" ng-model="WlAccountModel.city"
                                                               class="form-control" name="City" ng-class="{'has-error': (WlAccountForm.City.$dirty
                                          || submitted) && WlAccountForm.City.$error.required}" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Province</label>
                                                        <input type="text" style="border-radius: 4px" ng-model="WlAccountModel.province"
                                                               class="form-control" name="Province" ng-class="{'has-error': (WlAccountForm.Province.$dirty
                                          || submitted) && WlAccountForm.Province.$error.required}" required />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Country</label>
                                                        <input type="text" style="border-radius: 4px" ng-model="WlAccountModel.country"
                                                               class="form-control" name="Country" ng-class="{'has-error': (WlAccountForm.Country.$dirty
                                          || submitted) && WlAccountForm.Country.$error.required}" required />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Post Code</label>
                                                        <input type="text" style="border-radius: 4px" numbers-only ng-model="WlAccountModel.postCode"
                                                               class="form-control" name="PostCode" ng-class="{'has-error': (WlAccountForm.PostCode.$dirty
                                          || submitted) && WlAccountForm.PostCode.$error.required}" required />
                                                    </div>
                                                </td>
                                            </tr>



                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;" id="ContactPersonInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#d2930b">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#ContactPersonInfo" href="#collapse_ContactPersonInfo">
                                            <i class="fa fa-plus" style="display: none; font-size: 12px; top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Alternative Contact Information
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_ContactPersonInfo" class="panel-collapse collapse in" style="border: 1px solid #b59b5a;font-size: 10px !important">
                                    <div class="panel-body" style="padding: 0px;">

                                        @*<ng-form name="innerForm" >*@
                                        <table class="table table-bordered table-hover" style="">

                                            <tr style="background:#d2930b!important;color:#fff !important">
                                                <td>Select</td>
                                                <td><label>Contact Name</label></td>
                                                <td><label>Contact Surname</label></td>
                                                <td><label>Contact Number</label></td>
                                                <td><label>Email</label></td>
                                                <td><label>Designation</label></td>
                                                <td colspan="2">
                                                    <div class="pull-right">
                                                        <button title="Add Contact" type="button" class="btn btn-sm btn-warning" style="text-decoration:none!important;" ng-click="AddContactPerson()"><i class="glyphicon glyphicon-plus"></i></button>
                                                        <button type="button" title="Delete Contact" ng-click="removeContactPerson()" class="btn btn-sm btn-primary" style="text-decoration:none!important;"><i class="fa fa-trash"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tbody ng-repeat="m in Customer_ContactPerson" style="padding:10px !important">
                                                <tr>
                                                    <td><input type="radio" name="radioContactPerson" id={{m.contactNumber+''+'ChkPerson'}} value="0" /></td>
                                                    <td><input class="form-control" type="text" value={{m.firstName}}></td>
                                                    <td><input class="form-control" type="text" value={{m.lastName}}></td>
                                                    <td><input class="form-control" type="text" value={{m.contactNumber}}></td>
                                                    <td><input class="form-control" type="text" value={{m.email}}></td>
                                                    <td><input class="form-control" type="text" value={{m.designation}}></td>
                                                    <td colspan="2"></td>
                                                </tr>
                                            </tbody>
                                            <tfoot ng-show="ShowContactPersonFooter">
                                                <tr>
                                                    <td><input type="radio" name="radioContactPerson" /></td>
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="conatctModel.ContactFirstName" name="ContactFirstName"
                                                               ng-class="{'has-error': (innerForm.ContactFirstName.$dirty
                                          || Innersubmitted) && innerForm.ContactFirstName.$error.required}" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="conatctModel.ContactLastName" name="ContactLastName"
                                                               ng-class="{'has-error': (innerForm.ContactLastName.$dirty
                                          || Innersubmitted) && innerForm.ContactLastName.$error.required}" />
                                                    </td>

                                                    <td>
                                                        <input type="text" class="form-control" numbers-only ng-minlength="10" maxlength="10" min="10" max="10" name="ContactNumber"
                                                               ng-model="conatctModel.ContactNumber"
                                                               ng-class="{'has-error': (innerForm.ContactNumber.$dirty
                                          || Innersubmitted) && innerForm.ContactNumber.$error.required||innerForm.ContactNumber.$error.minlength || innerForm.ContactNumber.$error.maxlength}" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="ContactEmail"
                                                               ng-pattern="emailFormat"
                                                               ng-model="conatctModel.ContactEmail" ng-class="{'has-error': (innerForm.ContactEmail.$dirty
                                          || Innersubmitted) && innerForm.ContactEmail.$error.required||innerForm.ContactEmail.$error.pattern}" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="conatctModel.ContactDesignation" name="ContactDESIGNATION"
                                                               ng-class="{'has-error': (innerForm.ContactDesignation.$dirty
                                          || Innersubmitted) && innerForm.ContactDesignation.$error.required}" />
                                                    </td>
                                                    @*<td><input type="button" class="btn btn-success" value="Add" ng-click="AddContactPerson(conatctModel)" /></td>*@
                                                </tr>
                                            </tfoot>
                                        </table>
                                        @*</ng-form>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group" style="margin-left: 0px;margin-bottom:3px!important;margin-top:10px !important" id="accordionSupportDocs">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#d2930b">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionSupportDocs" href="#collapse_supporting_docs">
                                            <i class="fa fa-plus" style="display: none;font-size: 12px;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Supporting Documents
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_supporting_docs" class="panel-collapse collapse in" style="border: 1px solid #b59b5a;">
                                    <div class="panel-body" style="padding: 10px;">
                                        <table width="100%">

                                            <tr>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%" ng-if="!IsWayleaveAccountAuthenticated||WlAccountModel.status=='Rejected'">
                                                        <label>Registartion Certificate</label>
                                                        <input type="file" id="regCertificatefile" style="border-radius: 4px;padding: 3px !important"
                                                               class="form-control" name="RegistartionCertificate" />
                                                    </div>
                                                    <div class="input-group" style="width: 100%;margin-top:10px;" ng-if="IsWayleaveAccountAuthenticated">
                                                        <label>
                                                            Current  Registartion Certificate File
                                                            <br /> <a ng-click="OpenFileNewTab(WlAccountModel.registartionCertificate)" href="#" style="color: #00337f; font-weight: 700">View</a>
                                                        </label>

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%" ng-if="!IsWayleaveAccountAuthenticated||WlAccountModel.status=='Rejected'">
                                                        <label>Tax Certificate</label>
                                                        <input type="file" id="taxCertificatefile" style="border-radius: 4px;padding: 3px !important"
                                                               class="form-control" name="TaxCertificate" />
                                                    </div>
                                                    <div class="input-group" style="width: 100%;margin-top:10px;" ng-if="IsWayleaveAccountAuthenticated">
                                                        <label>
                                                            Current Tax Certificate File
                                                            <br /> <a ng-click="OpenFileNewTab(WlAccountModel.taxCertificate)" href="#" style="color: #00337f; font-weight: 700">View</a>
                                                        </label>

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div style="font-size:11px;color:#d2930b">
                                                        <h5 style="color:#cc0c00"><strong><u>File Name Convention</u></strong></h5>
                                                        Use Captal or lower letters to delimit words,not spaces. e.g: RegisrationCertificate<br />
                                                        Keep file names short,but meaningful. e.g: 2020TaxCertificate<br />
                                                        <strong style="color:#cc0c00">DON'T</strong> save files containing any special characters. e.g *:/\<>|"?[];=&%$#()
                                                    </div>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group" style="margin-left: 0px;margin-bottom:3px!important;margin-top:10px !important" id="accordionApprove" ng-if="IsWayleaveAccountAuthenticated">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#d2930b">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionSupportDocs" href="#collapse_accordionApprove">
                                            <i class="fa fa-plus" style="display: none;font-size: 12px;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Approve/Reject
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_accordionApprove" class="panel-collapse collapse in" style="border: 1px solid #b59b5a;">

                                    <div class="panel-body" style="padding: 10px;">
                                        <div class="col-lg-4">
                                            <div class="input-group input-label">
                                                <label><strong>Current status</strong> : <b style="color:#cc0c00">{{WlAccountModel.status}}</b></label><br />
                                                <label ng-if="WlAccountModel.status=='Rejected'"><strong>Comments</strong> : <b style="color:#cc0c00">{{WlAccountModel.comments}}</b></label>

                                            </div>
                                        </div>
                                    </div>
                                    @*@if (HttpContext.Current.Session["wayleaveaccountId"] == null)
                                        {
                                            <div class="panel-body" style="padding: 10px;" ng-if="accountStatusId==7">
                                                <div class="col-lg-4">
                                                    <div class="input-group input-label">
                                                        <label class="control-label">Status</label>
                                                        <select style="border-radius: 4px" ng-change="changeStatusType(WlAccount_statusId)" ng-class="{'has-error': (WlAccountForm.statusId.$dirty
                                              || submitted) && WlAccountForm.statusId.$error.required}" required
                                                                class="form-control" name="statusId" ng-model="WlAccount_statusId">
                                                            <option selected value="">Make a selection</option>
                                                            <option ng-value="6">Approved</option>
                                                            <option ng-value="7">Rejected</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel-body" style="padding: 10px;" ng-if="accountStatusId==7">
                                                <div class="col-lg-12">
                                                    <div class="input-group input-label">
                                                        <label class="control-label">Comments</label>
                                                        <textarea rows="5" class="form-control" style="border-radius: 4px" placeholder="Comments" name="comments" ng-model="WlAccountModel.comments" ng-class="{'has-error': (WlAccountForm.comments.$dirty
                                              || submitted) && WlAccountForm.comments.$error.required}" required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        }*@
                                </div>
                            </div>
                        </div>
                        <table width="100%">
                            <tr>
                                <td colspan="4" class="text-center" ng-if="!IsWayleaveAccountAuthenticated">
                                    <button class="btn btn-success" ng-disabled="IsSubmit" ng-click="SaveWlAccountForm(WlAccountModel)" style="background-color: #036638 !important; height: 24px; width: 60px; padding: 0; font-size: 10px">
                                        <i class="fa fa-spinner fa-spin" ng-if="IsSubmit"></i>
                                        Submit
                                    </button>
                                    <button type="button" class="btn btn-success" style="background-color: #cc0c00 !important; height: 24px; width: 60px; padding: 0; font-size: 10px">Cancel</button>
                                </td>
                                <td colspan="4" class="text-center" ng-if="IsWayleaveAccountAuthenticated&&accountStatusId==7">
                                    <button class="btn btn-success" ng-click="UpdateWlAccountForm(WlAccountModel)" style="background-color: #036638 !important; height: 24px; width: 60px; padding: 0; font-size: 10px">
                                        <i class="fa fa-spinner fa-spin" ng-if="IsSubmit"></i>
                                        Re-submit
                                    </button>
                                    <button type="button" class="btn btn-success" style="background-color: #cc0c00 !important; height: 24px; width: 60px; padding: 0; font-size: 10px">Cancel</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    }
</section>




