@{
    ViewBag.Title = "Prescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/js/jquery.min.js"></script>
<link href="~/Content/ResponsiveNew.css" rel="stylesheet" />
<script src="~/AngularJs/Controllers/LabCntrl.js"></script>
<script src="~/AngularJs/Services/LabService.js"></script>


<style>
    th {
        font-weight: 300 !important;
    }

    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        /*background-image: url('../../DOCTOR_ICONS/down-arrow1.png');*/
        content: "\2212"; /* "play" icon */
        float: right;
        color: white !important;
        font-size: 30px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        /*-webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);*/
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        content: "\2b"; /* "play" icon */
        /*-webkit-transform: rotate(90deg) !important;
        -moz-transform: rotate(90deg) !important;
        -ms-transform: rotate(90deg) !important;
        -o-transform: rotate(90deg) !important;
        transform: rotate(90deg) !important;*/
        color: #454444;
    }

    input[type="text"], input[type="password"] {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgb(0 0 0 / 8%) inset;
        -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
        -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
        -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
        box-shadow: 0 1px 0 #fff, 0 -2px 5px rgb(0 0 0 / 8%) inset;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border: 1px solid #c8c8c8;
        color: #777;
        font: 15px Helvetica, Arial, sans-serif;
        margin: 0 0 10px;
        padding: 15px 10px 15px 40px;
        padding-left: 33px;
        width: 250px;
        height: 20px !important
    }

    .panel-info > .panel-heading {
        color: #ffffff;
        background-color: #6e6e6f;
        border-color: #6c757d !important;
        height: 25px !important;
        padding: 3px !important;
    }

    .callout {
        border-radius: .25rem;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        background-color: #fff;
        border-left: 3px solid #e9ecef;
        margin-bottom: 1rem;
        padding: 5px;
    }

    .callout-info {
        /* width: 20% !important;
        float: left !important;
        border-left: 3px solid #117287;
        border-radius: 5px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;*/
        border-left-color: #117a8b;
    }

    p {
        font-family: "Open Sans";
        word-spacing: 3px;
        font-size: 13px;
    }

    .container-fluid {
        margin: 0px !important;
        padding: 0px !important
    }

    .Doctor-Image-Display {
        height: 50px;
        width: 50px;
        margin-left: 10px !important;
        padding-top: -20px !important;
        border-radius: 50px !important;
    }

    .form-control-sm {
        height: 20px !important;
        margin: 0px !important;
    }

    .form-group {
        margin: 0px !important;
    }

    .btn-sm, .btn-group-sm > .btn {
        padding: 5px 7px;
        font-size: 12px;
        line-height: 0.5;
        border-radius: 3px;
    }

    .container {
        padding: 0px !important;
    }
</style>
<script>
    $(function () {
        var $tabButtonItem = $('#tab-button li'),
            $tabSelect = $('#tab-select'),
            $tabContents = $('.tab-contents'),
            activeClass = 'is-active';
        $tabButtonItem.first().addClass(activeClass);
        $tabContents.not(':first').hide();
        $tabButtonItem.find('a').on('click', function (e) {
            var target = $(this).attr('href');
            $tabButtonItem.removeClass(activeClass);
            $(this).parent().addClass(activeClass);
            $tabSelect.val(target);
            $tabContents.hide();
            $(target).show();
            e.preventDefault();
        });
        $tabSelect.on('change', function () {
            var target = $(this).val(),
                targetSelectNum = $(this).prop('selectedIndex');
            $tabButtonItem.removeClass(activeClass);
            $tabButtonItem.eq(targetSelectNum).addClass(activeClass);
            $tabContents.hide();
            $(target).show();
        });
    });
</script>



<div class="container-fluid" style="min-height:400px" ng-controller="LabCntrl" ng-cloak @*ng-init="GetPatientsByLabId(@Session["Pharmacy_ID"],'')"*@>




    <div class="container" style="margin-top:-50px!important">
        <style>
            .breadcrumb-item a {
                color: #125e1d !important;
            }

            .nav-item a {
                color: #000;
                text-decoration: none;
                background-color: transparent;
                font-size: 11pt !important
            }

                .nav-item a:hover {
                    color: #000;
                    text-decoration: none;
                    background-color: transparent;
                    font-size: 11pt !important
                }

            label {
                font-weight: 400 !important;
                /*font-size: 10pt !important;*/
                margin-bottom: -5px !important;
                margin-top: -10px !important;
            }

            .form-control {
                /*font-size: 10pt !important*/
            }

            .content-header .breadcrumb {
                background-color: transparent;
                line-height: 0.7rem !important;
                margin-bottom: 0;
                padding: 0;
            }

            .card-title {
                float: left;
                font-size: 0.9rem !important;
                font-weight: 400;
                margin: 0;
            }

            .table td, .table th {
                padding: 0.1rem !important;
                vertical-align: top;
                /*border-top: 1px solid #dee2e6;*/
            }

            .text-success-custom {
                color: #057a52 !important;
            }
        </style>

        <form novalidate="novalidate" @*ng-hide="ShowPersonDetails"*@ style="height:600px!important">
            <div class="appointcolorall">
                <div style="height: 30px; background-color: #8e8e8e !important; text-align: center !important; font-weight: bold; padding-left: 10px; padding-top: 5px !important; ">
                    <b style="color:white;font-size:12pt;padding-top:5px!important">Pharmacy Search</b>
                    @*<a href="../User/DoctorHome" style=" float:left; padding-left: 10px; cursor: pointer"> <img src="/Images/left222.png"></a>*@

                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-12">
                        @*<div class="col-md-3 form-group text-left">
                            <label>Patient Reference No</label>
                            <input type="text" class="form-control form-control-sm" name="PatientReference_No" ng-model="PatientModel.PatientReference_No" placeholder="" />
                        </div>*@
                        <div class="col-md-3 form-group text-left">
                            <label>Doctor Name</label>
                            <input type="text" class="form-control form-control-sm" name="DoctorName" ng-model="PatientModel.DoctorName" placeholder="" />
                        </div>

                        <div class="col-md-3 form-group text-left">
                            <label>Patient Name</label>
                            <input type="text" class="form-control form-control-sm" name="PatientName" ng-model="PatientModel.PatientName" placeholder="" />
                        </div>
                        <div class="col-md-3 form-group text-left">
                            <label>Pharmacy Name</label>
                            <input type="text" class="form-control form-control-sm" name="PharmacyName" ng-model="PatientModel.PharmacyName" placeholder="" />
                        </div>
                    </div>
                    <div class="col-lg-12">


                        <div class="col-md-3 form-group text-center">
                            <div style="height:35px;margin-top:19px!important">
                                <div class="btn-group" role="group">
                                    <button type="button" id="saveImage" ng-click="GetPharmacyBySearch(PatientModel,@Session["Pharmacy_ID"])" class="btn btn-primary btn-hover-green" data-action="save" role="button" @*ng-click="LabSaveLoading===false?Save(@Session["Doct_Reg_ID"]):''"*@>
                                        <span @*class="fa fa-spin fa-spinner"*@ ng-show="PatientSearchLoading"></span>
                                        <i class="fa fa-search" @*ng-hide="PatientSearchLoading"*@></i>&nbsp;Filter
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp;Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="AppointmentTimeSloteTableView" ng-show="IsShowSearchdata" style="margin-top:25px!important;height:auto!important;overflow:auto!important;overflow-x:hidden;overflow-y:auto!important;min-height:150px">
                    <table id="example1" class="table table-bordered">
                        <thead>
                            <tr style="background:#057a528c!important">
                                <th>Pharmacy</th>
                                <th>Patient Reference No</th>
                                <th> Patient Name</th>

                                <th>Doctor Name</th>

                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody @*ng-if="listCount>0"*@>
                            <tr ng-repeat="p in PharmacyList">

                                @*<td class="text-left"><a href="#" ng-click="ShowPersonDetails1()">JB5144</a></td>*@
                                <td class="text-left">&nbsp; {{p.Pharmacy_Company_Name}}</td>


                                <td class="text-left">&nbsp; {{p.Patient_Reference_No}}</td>
                                <td class="text-left">&nbsp; {{p.PatientName}}</td>
                                <td class="text-left">&nbsp; {{p.doctorName}}</td>

                                @*<td class="text-left">&nbsp; {{p.LabName}}</td>*@
                                <td>
                                    <a style="outline: none" href="#" data-toggle="modal" data-target="#tests" ng-click="GetPharmacyBySearch(PatientModel,@Session["Pharmacy_ID"])">

                                        <i class="fa fa-eye"></i>
                                    </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center text-danger" ng-if="listCount==0" style="border:none!important;margin-top:10px!important;color:#cb2e2e!important">No result found!</div>
                </div>
                <br />

            </div>

        </form>


        <div class="modal fade" id="tests" tabindex="-1" role="dialog" aria-labelledby="tests" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header  modal-header-success">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" style="font:bold">Tests</h4>
                    </div>
                    <div class="modal-body">
                        Patient Name: {{PharmacyList.PatientName}}

                        <table class="appointcolor" id="dtsResult" style="  padding-left: 10px;margin-top:10px  ">
                            <tr style="background-color: #46a1b4;color: white">
                                <th>  Patient Name</th>
                                <th>Doctor Name</th>
                                <th> Lab Name</th>

                            </tr>
                            <tr style="height:auto;" ng-repeat="l in PharmacyList">
                                <td>
                                    {{l.PatientName}}

                                </td>
                                <td>
                                    {{l.doctorName}}
                                </td>

                                <td>{{l.LabName}}</td>
                            </tr>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <span class="fa fa-spinner fa-spin" ng-if="LabGroupLoading"></span>
                                    <div class="text-danger">

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-grey" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
 
