@model C8.eServices.Mvc.Models.WL_APPLICATIONFORM
@{
    ViewBag.Title = "ApplicationForm";
    Layout = "~/Views/Shared/_LayoutEkurhuleni.cshtml";
}

<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    select {
        vertical-align: top;
        height: 30px;
    }

    input, select {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .badge {
        display: inline-block;
        width: 80px;
        padding: 7px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #777;
        border-radius: 10px;
    }

    .headindg-size {
        margin-left: -26px;
        font-size: 14px;
        padding: 2px;
    }

    span {
        height: 24px !important;
        font-size: 10px !important;
    }

    .panel-default-custom {
        border: 0.5px solid transparent;
    }

        .panel-default-custom > .panel-heading {
            color: #fff;
            background-color: #f3f0e1;
            /* border-color: #ddd; */
            border: none;
            border-radius: 0;
            height: 22px;
        }

    .panel-group {
        margin-bottom: 0px;
    }

    role {
        margin-right: 80px;
        margin-left: 20px;
        font-weight: normal;
        float: left;
        margin: 0px;
        margin-top: 8px;
        margin-left: 10px;
        font-size: 11px !important;
    }

    label {
        font-size: 10px;
        padding: 0;
        font-weight: 500;
        padding-left: 3px;
        margin-bottom: -10px;
    }

    .pac-container {
        z-index: 10000 !important;
        /*width:70% !important;*/
    }
</style>
<style type="text/css">
    #right-panel {
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }

        #right-panel select,
        #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        }


    #map {
        width: 100%;
        height: 500px;
        margin: 0px !important;
        padding: 0px !important
    }

    #right-panel {
        float: right;
        width: 34%;
        height: 100%;
    }

    .panel {
        height: 100%;
        overflow: auto;
    }

    .errorNew {
        border: 2px solid red !important;
        border-color: red !important;
        color: red !important;
    }
</style>
<script src="~/Scripts/wayleaveScripts/WLApplicationForm.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLOlMJLaIKTK3R1mRfv0gEI8bAmfqDxlk&sensor=false&libraries=places"></script>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var departmentName = '@Session["ekurhuleniUserDeptName"]';
        var wayleaveAppId = localStorage.getItem('WLAppId');
        if (wayleaveAppId != undefined && wayleaveAppId != "") {
            $.fn.bindApplicationDataFrom(wayleaveAppId);
            $("#CurrentUserDepartmentName").val(departmentName);
        }
        //else {
        //    window.location.href = "../Home/Index";
        //}

        var userRole = '@Session["ekurhuleniUserRole"]';
        if (userRole ==="Admin") {
            $.fn.LoadApplicationsAlertsWithCounts("Y", userRole);
        }
        else {
            $.fn.LoadApplicationsAlertsWithCounts("N", userRole)
        }

        Init();
    });
</script>
<section class="content" style="padding-right: 0;padding-top:0;margin-top:-10px!important" onload="Init()">
    <form name="ApplicationForm">
        <div class="panel-group" style="margin-left: -25px;
        margin-bottom: 3px !important;">
            <div class="panel panel-default" style="border:none!important">
                <div class="panel-heading" style="background:#00A65A;padding-top:5px!important">
                    <h4 class="panel-title text-center" style="font-size:16pt!important">
                        Wayleave Application
                    </h4>
                </div>
                <div style="border:1px solid #00A65A;">
                    <div class="panel-body" style="padding: 5px!important;margin-bottom:0px !important">
                        <div style="margin-bottom:10px !important;">
                            <input id="Qs_PersonMandatory"
                                   class="radio-custom" checked="checked" onclick="$.fn.showOwnerConsultantDetails('Property Owner')" name="Qs_PersonMandatory" type="radio"
                                   style="margin-top: 10px !important;margin-left: 28px !important;background-color:#00A65A!important">
                            <label for="Qs_PersonMandatory" class="radio-custom-label"
                                   style="margin-top: 10px;padding: 1px;">Contractor</label>&nbsp;&nbsp;
                            <input id="Qs_PersonMandatory1" class="radio-custom" onclick="$.fn.showOwnerConsultantDetails('Consultant')"
                                   name="Qs_PersonMandatory" type="radio"
                                   style="margin-top: 10px !important">

                            <label for="Qs_PersonMandatory1" class="radio-custom-label"
                                   style="margin-top:10px;padding: 1px;">Consultant</label>

                        </div>
                    </div>
                    <div class="panel-body" style="padding: 5px!important;">

                        <div class="panel-group" style="margin-left: 0px;margin-bottom:3px!important;" id="contractorInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionSerach" href="#collapse_search_1">
                                            <i class="fa fa-plus" style="display: none;font-size: 12px;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Contractor Details
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_search_1" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding: 5px 0 5px 0 !important;">
                                        <table>
                                            <tr>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Account Number</label>
                                                        <input type="text" style="border-radius: 4px"
                                                               class="form-control" name="PROPERTYOWNER_ACCOUNT_NO" id="PROPERTYOWNER_ACCOUNT_NO" />
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Contractor Name</label>
                                                        <input type="text" style="border-radius: 4px" id="PROPERTYOWNER_NAME"
                                                               class="form-control" name="PROPERTYOWNER_NAME" />
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Contractor Surname</label>
                                                        <input type="text" style="border-radius: 4px" id="PROPERTYOWNER_SURNAME"
                                                               class="form-control" name="PROPERTYOWNER_SURNAME" />
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Contact Number</label>
                                                        <input type="text" maxlength="10" numbers-only style="border-radius: 4px" id="PROPERTYOWNER_CONTACTNO"
                                                               class="form-control" name="PROPERTYOWNER_CONTACTNO" />
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%" colspan="2">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Email</label>
                                                        <input type="text" ng-pattern="emailFormat" style="border-radius: 4px" id="PROPERTYOWNER_EMAIL"
                                                               class="form-control" name="PROPERTYOWNER_EMAIL" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;display:none" id="consultantInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#consultantInfo" href="#collapse_consultantInfo">
                                            <i class="fa fa-plus" style="display: none;font-size: 12px;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Consultant Details
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_consultantInfo" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding: 5px 0 5px 0 !important;">
                                        <table>
                                            <tr>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Consultant Number</label>
                                                        <input type="text" style="border-radius: 4px" id="CONSULTANT_NO"
                                                               class="form-control" name="CONSULTANT_NO" />
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Consultant Company Name</label>
                                                        <input type="text" style="border-radius: 4px" id="CONSULTANT_COMPANYNAME"
                                                               class="form-control" name="CONSULTANT_COMPANYNAME" />
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Consultant First Name</label>
                                                        <input type="text" style="border-radius: 4px" id="CONSULTANT_NAME"
                                                               class="form-control" name="CONSULTANT_NAME" />
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Consultant Surname</label>
                                                        <input type="text" style="border-radius: 4px" id="CONSULTANT_SURNAME"
                                                               class="form-control" name="CONSULTANT_SURNAME" />
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Contact Number</label>
                                                        <input type="text" maxlength="10" style="border-radius: 4px" id="CONSULTANT_CONTACTNO"
                                                               class="form-control" name="CONSULTANT_CONTACTNO" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Email</label>
                                                        <input type="text" style="border-radius: 4px" id="CONSULTANT_EMAIL"
                                                               class="form-control" name="CONSULTANT_EMAIL" />
                                                    </div>
                                                </td>
                                                <td style="width: 15.5%"></td>
                                                <td style="width: 15.5%"></td>
                                                <td style="width: 15.5%"></td>
                                                <td style="width: 15.5%"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;" id="WayleaveTypeInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#WayleaveTypeInfo" href="#collapse_WayleaveTypeInfo">
                                            <i class="fa fa-plus" style="display: none;font-size: 12px;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Wayleave Type Details
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_WayleaveTypeInfo" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding: 5px 0 5px 0 !important;">
                                        <table>
                                            <tr>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Wayleave Immediate Attention</label>
                                                        <select style="border-radius: 4px"
                                                                class="form-control" name="WAYLEAVE_ATTENTION" id="WAYLEAVE_ATTENTION" required>
                                                            <option value="" selected>Make a selection</option>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label class="control-label">Service Type</label>
                                                        <select class="form-control" name="SERVICE_TYPE" onchange="$.fn.ChangeServiceType()" id="SERVICE_TYPE" required>
                                                            <option selected="selected" value="">Make a selection</option>
                                                            @*<option ng-repeat="type in SeriveTypesList" ng-value="type.id">{{type.description}}</option>*@
                                                        </select>
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Service Sub Type</label>
                                                        <select class="form-control" name="SERVICE_SUB_TYPE" id="SERVICE_SUB_TYPE">
                                                            <option selected="selected" value="">Make a selection</option>
                                                            @*<option ng-repeat="type in ServiceSubTypeList" ng-value="{{type.id}}">{{type.description}}</option>*@
                                                        </select>
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Stage Type</label>
                                                        <select style="border-radius: 4px" id="STAGE_TYPE"
                                                                class="form-control" name="STAGE_TYPE">
                                                            <option value="" selected>Make a selection</option>
                                                            <option value="1">Stage 1</option>
                                                            <option value="2">Stage 2</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;" id="ProjectInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" onclick="$.fn.showGPS()" data-parent="#ProjectInfo" href="#collapse_ProjectInfo">
                                            <i class="fa fa-plus" style="font-size: 12px;display: none;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Work Location
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_ProjectInfo" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding: 5px 0 5px 0 !important;">
                                        <table class="table table-bordered table-hover" style="font-size:9pt!important" id="WorkLocationTable">
                                            <thead>
                                                <tr style="background:#00A65A!important;color:#fff!important">
                                                    <td>Work Location Type</td>
                                                    <td>GPS Starting Address</td>
                                                    <td>GPS Ending Address</td>
                                                    <td class="text-center">Action</td>
                                                </tr>
                                            </thead>
                                            <tbody id="Map_LocationsFromServer">
                                            </tbody>
                                            <tbody id="Map_Locations">
                                            </tbody>
                                            <tfoot id="ShowMap_Locations">
                                                <tr>
                                                    <td>
                                                        <select style="border-radius: 4px" id="WORK_LOCATION_TYPE"
                                                                class="form-control" name="WORK_LOCATION_TYPE">
                                                            <option value="" selected>Make a selection</option>
                                                            <option value="Cross">Cross</option>
                                                            <option value="Parallel">Parallel</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" id="GPS_START_ADDRESS" /></td>
                                                    <td><input type="text" class="form-control" id="GPS_END_ADDRESS" /></td>
                                                    <td class="text-center">
                                                        <i class="fa fa-2x fa-plus-circle text-success" style="cursor:pointer" onclick="$.fn.AddLocations()"></i>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;" id="ProjectDetailsInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#ProjectDetailsInfo" href="#collapse_ProjectDetailsInfo">
                                            <i class="fa fa-plus" style="font-size: 12px;display: none;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Project Details
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_ProjectDetailsInfo" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding: 5px 0 5px 0 !important;">
                                        <table>
                                            <tr>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Project Number</label>
                                                        <input type="text" style="border-radius: 4px" id="PROJECT_NUMBER"
                                                               class="form-control" name="PROJECT_NUMBER" />
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Project Name</label>
                                                        <input type="text" style="border-radius: 4px" id="PROJECT_NAME"
                                                               class="form-control" name="PROJECT_NAME" />
                                                    </div>
                                                </td>
                                                <td style="width:  15.5%">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Service Owner</label>
                                                        <input type="text" style="border-radius: 4px" id="APPLYING_ON_BEHALF"
                                                               class="form-control" name="APPLYING_ON_BEHALF" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 15.5%" colspan="3">
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Project Description</label>
                                                        <textarea rows="4" style="border-radius: 4px" id="PROJECT_DESCRIPTION"
                                                                  class="form-control" name="PROJECT_DESCRIPTION"></textarea>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="table table-bordered table-hover" style="font-size:9pt!important">
                                            <tr style="background:#00A65A!important;color:#fff!important">
                                                <td>Select</td>
                                                <td>Region Code</td>
                                                <td>Region Name</td>
                                                <td>Road Number</td>
                                            </tr>
                                            <tbody id="Customer_RegionListFromServer">
                                            </tbody>
                                            <tbody id="Customer_Region">
                                            </tbody>
                                            <tfoot id="ShowRegionFooter">
                                                <tr>
                                                    <td><input type="radio" name="radioRegion" /></td>
                                                    <td><input type="text" class="form-control" id="RegionCode" /></td>
                                                    <td><input type="text" class="form-control" id="RegionName" /></td>
                                                    <td colspan="2"><input type="text" class="form-control" id="RoadNumber" /></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;" id="ProvisionalDates">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#ProvisionalDates" href="#collapse_ProvisionalDates">
                                            <i class="fa fa-plus" style="font-size: 12px;display: none;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Provisional Dates
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_ProvisionalDates" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding: 5px 0 5px 0 !important;">

                                        <table>
                                            <tr>
                                                <td>
                                                    <div class=" input-label-date">
                                                        <label>Date of application</label>
                                                        <div class="input-group" style="width: 100%">
                                                            <span class="input-group-addon"
                                                                  style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;padding-bottom: 0;padding-top: 0px;">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input type="text" datepicker1 autocomplete="off" style="border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important" id="APPLICATION_DATE"
                                                                   class="form-control" name="APPLICATION_DATE" />

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-label-date">
                                                        <label>Starting Date</label>
                                                        <div class="input-group" style="width: 100%">
                                                            <span class="input-group-addon"
                                                                  style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;padding-bottom: 0;padding-top: 0px;">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input type="text" datepicker6 autocomplete="off" style="border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important" id="STARTING_DATE"
                                                                   class="form-control" name="STARTING_DATE" />

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-label-date">
                                                        <label>Completion Date</label>
                                                        <div class="input-group" style="width: 100%">
                                                            <span class="input-group-addon"
                                                                  style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;padding-bottom: 0;padding-top: 0px;">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input type="text" datepicker6 autocomplete="off"
                                                                   style="border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important"
                                                                   id="COMPLETION_DATE"
                                                                   class="form-control" name="COMPLETION_DATE" />

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Drawing Number</label>
                                                        <input style="border-radius: 4px" id="DRAWING_NUMBER"
                                                               class="form-control allowDecimalNumbers" name="DRAWING_NUMBER" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;" id="ExcavationDetails">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#ExcavationDetails" href="#collapse_ExcavationDetails">
                                            <i class="fa fa-plus" style="font-size: 12px;display: none;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Excavation Details
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_ExcavationDetails" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding: 5px 0 5px 0 !important;">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Length of excavation(m<sup>2</sup>)</label>
                                                        <input type="text" style="border-radius: 4px" id="EXCAVATION_LENGTH"
                                                               class="form-control allowDecimalNumbers" name="EXCAVATION_LENGTH" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>Rding surface(m<sup>2</sup>)</label>
                                                        <input type="text" style="border-radius: 4px" id="RIDING_SURFACE"
                                                               class="form-control allowDecimalNumbers" name="RIDING_SURFACE" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>KERBS(m)</label>
                                                        <input type="text" style="border-radius: 4px" id="KERBS"
                                                               class="form-control allowDecimalNumbers" name="KERBS" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>ASPH.FOOTWAY(m<sup>2</sup>)</label>
                                                        <input style="border-radius: 4px" id="ASPH_FOOTWAY"
                                                               class="form-control allowDecimalNumbers" name="ASPH_FOOTWAY" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>INTERL.BLOCK(m<sup>2</sup>)</label>
                                                        <input style="border-radius: 4px" id="INTERL_BLOCK"
                                                               class="form-control allowDecimalNumbers" name="INTERL_BLOCK" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-label" style="width: 100%">
                                                        <label>UNPAVED FOOTWAYS(m<sup>2</sup>)</label>
                                                        <input style="border-radius: 4px" id="UNPAVED_FOOTWAYS"
                                                               class="form-control allowDecimalNumbers" name="UNPAVED_FOOTWAYS" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;" id="ContactPersonInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#ContactPersonInfo" href="#collapse_ContactPersonInfo">
                                            <i class="fa fa-plus" style="font-size: 12px;display: none;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Contact Person Details
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_ContactPersonInfo" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding: 5px 0 5px 0 !important;">
                                        <table class="table table-bordered table-hover" style="font-size:9pt!important">
                                            <tr style="background:#00A65A!important;color:#fff!important">
                                                <td>First Name</td>
                                                <td>Last Name</td>
                                                <td>Registration Number</td>
                                                <td>Contact Number</td>
                                            </tr>
                                            <tbody id="Customer_ContactPersonListFromServer">
                                            </tbody>
                                            <tbody id="Customer_ContactPerson">
                                            </tbody>
                                            <tfoot id="ShowContactPersonFooter">
                                                <tr>
                                                    <td><input type="text" class="form-control stringOnly" id="ContactFirstName" /></td>
                                                    <td><input type="text" class="form-control stringOnly" id="ContactLastName" /></td>
                                                    <td><input type="text" class="form-control" id="ContactRegNumber" /></td>
                                                    <td><input type="text" class="form-control numbersOnly" maxlength="10" id="ContactNumber" /></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;" id="UploadDocumentInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#UploadDocumentInfo" href="#collapse_UploadDocumentInfo">
                                            <i class="fa fa-plus" style="font-size: 12px;display: none;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Supporting Documents
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_UploadDocumentInfo" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding:5px 0 5px 0 !important;">
                                        <table class="table table-bordered table-hover" style="font-size:9pt!important">
                                            <tr style="background:#00A65A!important;color:#fff!important">
                                                <td>S.No</td>
                                                <td>Document Type</td>
                                                <td>Document Upload</td>
                                            </tr>
                                            <tbody id="ServiceDocumentListFromServer">
                                            </tbody>
                                            <tbody id="ServiceDocumentList">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;display:none" id="DepartmentInfo">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#DepartmentInfo" href="#collapse_DepartmentInfo">
                                            <i class="fa fa-plus" style="font-size: 12px;display: none;top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Circulated Departments
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_DepartmentInfo" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding: 5px 0 5px 0 !important;">
                                        @if (Session["ekurhuleniData"] != null)
                                        {
                                            if (Session["ekurhuleniUserRole"].ToString() == "Admin")
                                            {
                                                <div>
                                                    <table class="table table-bordered table-hover" style="font-size:9pt!important">
                                                        <tr style="background:#00A65A!important;color:#fff!important">
                                                            <td>S.No</td>
                                                            <td>Deaprtment Name</td>
                                                            <td>Status</td>
                                                            <td>Comments</td>
                                                            <td>Date</td>
                                                        </tr>
                                                        <tbody id="circulatedDepartmentList">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                            if (Session["ekurhuleniUserRole"].ToString() == "application")
                                            {
                                                <div class="col-lg-12">
                                                    <div class="input-group input-label">
                                                        <label class="control-label">Status</label>
                                                        <select style="border-radius: 4px" required onchange="$.fn.changeDepartmentStatus()" class="form-control" name="DEPARTMENT_STATUS" id="DEPARTMENT_STATUS">
                                                            <option selected value="">Make a selection</option>
                                                            <option value="Approved">Approved</option>
                                                            <option value="Rejected">Rejected</option>
                                                        </select>
                                                    </div>
                                                </div><br />
                                                if (Session["ekurhuleniUserDeptName"] != null)
                                                {
                                                    <div style="margin-top:20px!important;display:none!important" id="departmentRejectComment" @*ng-if="EkurhuleniRoles.indexOf('application') > -1 && CurrentUserDepartmentName!=null && appDepartmentData.DEPARTMENT_STATUS=='Rejected'"*@>
                                                        <div class="col-lg-12">
                                                            <div class="input-group input-label">
                                                                <label class="control-label">Department Comments</label>
                                                                <textarea rows="5" class="form-control" style="border-radius: 4px" placeholder="Comments" name="DEPARTMENT_COMMENTS" id="DEPARTMENT_COMMENTS"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" style="margin-left:0px;margin-bottom:3px!important;display:none" id="ApplicationStatus">
                            <div class="panel panel-default" style="border:none!important">
                                <div class="panel-heading" style="background:#00A65A">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#ApplicationStatus" href="#collapse_ApplicationStatus">
                                            <i class="fa fa-plus" style="display: none; font-size: 12px; top: 0;"></i>
                                            <i class="fa fa-minus" style="font-size: 12px;top: 0;"></i>
                                            Application Status
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse_ApplicationStatus" class="panel-collapse collapse in" style="border: 1px solid #00A65A;">
                                    <div class="panel-body" style="padding: 5px 0 5px 0 !important;">
                                        <div class="col-lg-4">
                                            <div class="input-group input-label">
                                                <label><strong>Current status</strong> : <b style="color:#cc0c00" id="APPLICATION_STEP_DESCRIPTION"></b></label>
                                                <br />
                                                <label id="APPLICATION_STEP_DESCRIPTIONComments" style="display:none"><strong>Comments</strong> : <b style="color:#cc0c00" id="APPLICATION_DESCRIPTIONComments"></b></label>

                                            </div>
                                        </div>
                                    </div>
                                    @if (Session["ekurhuleniUserRole"].ToString() == "Admin")
                                    {
                                        <div id="ApplicationPendingStatus" style="display:none" @*ng-if="EkurhuleniRoles.indexOf('Admin') > -1 && appFormData.APPLICATION_STEP_DESCRIPTION=='Pending'"*@>
                                            <div class="panel-body" style="padding: 10px;">
                                                <div class="col-lg-4">
                                                    <div class="input-group input-label">
                                                        <label class="control-label">Status</label>
                                                        <select style="border-radius: 4px" onchange="$.fn.ChangeAppSatus('PendingStatus')" required
                                                                class="form-control" name="APPLICATION_STEP_DESCRIPTION" id="AppPendingStatus">
                                                            <option selected value="">Make a selection</option>
                                                            <option value="Request for documents" @*ng-show="ServiceDocumentListFromServer.length>0"*@>Request for documents</option>
                                                            <option value="Request for approvals">Request for approvals</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body" style="padding: 10px;display:none" id="IsRequestDocuments">
                                                <div class="col-lg-12">
                                                    <div class="input-group input-label">
                                                        <label class="control-label">Comments</label>
                                                        <textarea rows="5" class="form-control" style="border-radius: 4px" placeholder="Comments" name="APPLICATION_COMMENTS" id="APPLICATION_COMMENTS" @*ng-required="IsRequestDocuments"*@></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (Session["ekurhuleniUserRole"].ToString() == "Admin")
                                    {
                                        <div id="APPLICATION_STEP_DESCRIPTION_RequestStatus" style="display:none" @*ng-if="EkurhuleniRoles.indexOf('Admin') > -1 && appFormData.APPLICATION_STEP_DESCRIPTION==='Request for approvals'"*@>
                                            <div class="panel-body" style="padding: 10px;">
                                                <div class="col-lg-4">
                                                    <div class="input-group input-label">
                                                        <label class="control-label">Status</label>
                                                        <select style="border-radius: 4px" onchange="$.fn.ChangeAppSatus('ApproveStatus')" required
                                                                class="form-control" name="APPLICATION_STEP_DESCRIPTION" id="AppStatus">
                                                            <option selected value="">Make a selection</option>
                                                            <option value="Approved">Grant Wayleave Application</option>
                                                            <option value="Rejected">Reject Application</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel-body" style="padding: 10px;display:none" id="IsStatusReject">
                                                <div class="col-lg-12">
                                                    <div class="input-group input-label">
                                                        <label class="control-label">Comments</label>
                                                        <textarea rows="5" class="form-control" style="border-radius: 4px" placeholder="Comments" name="APPLICATION_COMMENTS" id="APPLICATION_COMMENTS"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        @if (Session["ekurhuleniUserRole"].ToString() == "Admin")
                        {
                            <div id="ApplicationAdminSection" style="display:none!important">
                                <table width="100%">
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            <button type="button" class="btn btn-success" style="background-color: #036638 !important; height: 24px; width: 60px; padding: 0; font-size: 10px" onclick="$.fn.UpdateApplicationFormStaus()">
                                                <i id="isAppLoading" class="fa fa-spinner fa-spin" style="font-size:10pt;margin-right:5px!important;display:none!important"></i>
                                                Submit
                                            </button>
                                            <button type="button" class="btn btn-success" style="background-color: #cc0c00 !important; height: 24px; width: 60px; padding: 0; font-size: 10px">Cancel</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }

                        @if (Session["ekurhuleniUserRole"].ToString() == "application")
                        {
                            <div id="showUpdateDepartmentStaus" style="display:none" @*ng-if="circulatedDepartmentList.length>0"*@>
                                <table width="100%">
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            <button type="button" class="btn btn-success" style="background-color: #036638 !important; height: 24px; width: 60px; padding: 0; font-size: 10px" onclick="$.fn.UpdateDepartmentStaus()">
                                                <i id="isAppLoading" class="fa fa-spinner fa-spin" style="font-size:10pt;margin-right:5px!important"></i>
                                                Submit
                                            </button>
                                            <button type="button" class="btn btn-success" style="background-color: #cc0c00 !important; height: 24px; width: 60px; padding: 0; font-size: 10px">Cancel</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        } 
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="CurrentUserDepartmentName" />

        <div class="modal fade" id="RegionPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" style="top:10%!important;border-radius:5px!important">
                <div class="modal-content">
                    <div class="modal-header modal-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            x
                        </button>
                        <h4 class="modal-title text-center" style="color:green">Regions</h4>
                    </div>
                    <div class="modal-body">
                        <div style="font-size:9pt !important;height:350px !important;overflow:auto;overflow-x:hidden">
                            <table border="0" width="100%">
                                <thead>
                                    <tr style="background:#00A65A!important;color:#fff!important">
                                        <td></td>
                                        <td>Region Code</td>
                                        <td>Region Name</td>
                                        <td>Road Number</td>
                                    </tr>
                                </thead>
                                <tbody id="MasterRegions">
                                </tbody>
                            </table>
                            @*<div class="text-center" ng-show="gisLoader"><img src="~/Images/loadingimagenew.gif" style="width:120px !important;height:80px !important;border-radius:10px" /></div>*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" value="Close" data-dismiss="modal" />
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="locationPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" style="border-radius:5px!important;width:80% !important;">
                <div class="modal-content">
                    <div class="modal-header modal-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            x
                        </button>
                        <h1 class="modal-title text-center" style="color:green;font-size:20px !important">Work Location</h1>
                    </div>
                    <div class="modal-body">
                        <div id="map"></div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-warning" value="Close" data-dismiss="modal" />
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </form>
</section>













