@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Password Reset";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
</hgroup>
<div>
    <p>
        Please check your email/phone for confirmation.
    </p>
</div>

<script type="text/javascript">
    setTimeout(function () {
        window.location = '@Url.Action("Index","Home")';
    }, 3500);
</script>


