@model C8.eServices.Mvc.ViewModels.LoginViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>

    span {
        height: 30px !important;
        font-size: 14px !important;
    }

    input {
        height: 30px !important;
        font-size: 12px !important;
    }

    .has-error {
        border: 1px solid red !important;
    }
</style>
<script src="~/Scripts/wayleaveScripts/ForgotPassword.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-5">
            <div class="panel panel-default" style="margin-top:150px!important">
                <div class="panel-heading text-center bg-green-custom" style="border-top-left-radius: 15px !important;border-top-right-radius: 15px !important;border:0px!important;height:50px!important;padding-top:5px!important;">
                    <h4> Change Password </h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("ChangePassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-0">
                                <div class="form-group" style="margin:10px;">
                                    <div class="input-group">
                                        <span class="input-group-addon bg-green-custom" onclick="showPassword('oldPassword')">
                                            <img src="~/Content/wayleaveStyles/assets/Images/Asset 37@4x.png" width="20" height="15" />
                                        </span>

                                        <input type="password" class="form-control bradius" required id="oldPassword" name="oldPassword" placeholder="Current password" />
                                        @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control bradius", @required = true, autocomplete = "off", autofocus = "on", name = "userName", placeholder = "Enter user name" })*@
                                        @*<input class="form-control bradius" autocomplete="off" name="userName" placeholder="Enter user name" required>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-0">
                                <div class="form-group" style="margin:10px;">
                                    <div class="input-group">
                                        <span class="input-group-addon bg-green-custom" onclick="showPassword('newPassword')">
                                            <img src="~/Content/wayleaveStyles/assets/Images/Asset 37@4x.png" width="20" height="15" />
                                        </span>
                                        <input type="password" class="form-control bradius" required id="newPassword" name="newPassword" placeholder="New password" />
                                        @*@Html.PasswordFor(m => m.Password, new { @class = "form-control bradius", @required = true, @autocomplete = "new-password", autofocus = "on", id = "pass", name = "password", placeholder = "Enter password" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-0">
                                <div class="form-group" style="margin:10px;">
                                    <div class="input-group">
                                        <span class="input-group-addon bg-green-custom" onclick="showPassword('retypeNewPassword')">
                                            <img src="~/Content/wayleaveStyles/assets/Images/Asset 37@4x.png" width="20" height="15" />
                                        </span>
                                        <input type="password" class="form-control bradius" required id="retypeNewPassword" name="retypeNewPassword" placeholder="Re-type new password" />
                                        @*@Html.PasswordFor(m => m.Password, new { @class = "form-control bradius", @required = true, @autocomplete = "new-password", autofocus = "on", id = "pass", name = "password", placeholder = "Enter password" })*@
                                    </div>
                                </div>
                            </div>
                        </div>                       
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" onclick="showLoader()" class="btn bg-blue btn-md btn-custom" style="background-color: #004785 !important">
                                    <i id="isLoading" class="fa fa-spinner fa-spin" style="font-size:9pt;display:none"></i>&nbsp;Change Password
                                </button>
                                <a href="../">
                                    <button type="button" class="btn bg-green-custom btn-md btn-custom" style="color:white!important">
                                        Cancel
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 text-center" style="display:none!important">
                                <input type="text" name="hdnUserName" id="hdnUserName" value="@ViewBag.username" />
                            </div>
                            
                        </div>}
                </div>
                @if (ViewBag.errorResult != null && ViewBag.errorResult != "")
                {
            <div class="alert alert-danger" style="color:#fff!important">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!</strong> @ViewBag.errorResult
            </div>
                }

            </div>
        </div>
    </div>
   
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var tt = '@ViewBag.username';
        //alert(tt);
        $("#loginButtons").show();
        $("#loginPage").hide();
    });

    function showLoader() {
        $("#isLoading").show();
    }
    function showPassword(id) {
        var x = document.getElementById(id);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>