@{
    //ViewBag.Title = "FAQ";
    ////Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Esri Leaflet</title>

    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.0/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@3.0.0/dist/esri-leaflet-vector.js"></script>


    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.0.0/dist/esri-leaflet-geocoder.css" ">
    <script src="https://unpkg.com/esri-leaflet-geocoder@3.0.0/dist/esri-leaflet-geocoder.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #323232;
        }
    </style>
</head>
<body>

    <div id="map"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            //const apiKey = "AAPKc21c25baaf40479d9bd172699e2e7106yI9AiNPZK1BLrTgv85rEEOHiLzCrFTRtXeJnGtP45V62xfosNU9BaOu-IQJeRtAt";
            const apiKey = "AAPK5222f69742d142c1a55dab7dff81a813LifYfASw-D2OaW49jLgiMJtGQlyDDTv2rfWE6fNDqALeBW1BCCKi4YHWO3NVYV2d";
            const basemapEnum = "ArcGIS:Navigation";

            var address1 = "Private Bag X1069, Germiston, 1400";//getUrlParameter('address');

            var replacedAddress = address1.replaceAll(' ', '+');
            var fullURL = "https://gis.ekurhuleni.gov.za/arcgis/rest/services/Locators/Custom_Address_Singlehouse_dd_Aug/GeocodeServer/findAddressCandidates?Address=" + replacedAddress + "&Address2=&Address3=&Neighborhood=&City=&Subregion=&Region=&Postal=&PostalExt=&CountryCode=&SingleLine=&outFields=&maxLocations=&matchOutOfRange=true&langCode=&locationType=&sourceCountry=&category=&location=&distance=&searchExtent=&outSR=&magicKey=&f=pjson";

            var url2 = "http://129.232.208.13:8082/api/ArcGISAutocomplete/findAddressCandidates?queryText=" + replacedAddress;
            let marker;

            $.getJSON(url2, function (data) {
                console.log(data.candidates[0].location.y + ',' + data.candidates[0].location.x);

                const map = L.map("map", {
                    minZoom: 2

                }).setView([data.candidates[0].location.y, data.candidates[0].location.x], 13); // Sydney

                L.esri.Vector.vectorBasemapLayer(basemapEnum, {
                    apiKey: apiKey
                }).addTo(map);

                const lngLatString = `${Math.round(data.candidates[0].location.x * 100000) / 100000}, ${Math.round(data.candidates[0].location.y * 100000) / 100000}`;

                marker = L.marker(new L.LatLng(data.candidates[0].location.y, data.candidates[0].location.x))
                    .addTo(map)
                    .bindPopup(`<b>${lngLatString}</b><p>${address1}`)
                    .openPopup()
                    ;
                map.panTo(new L.LatLng(data.candidates[0].location.y, data.candidates[0].location.x));





            });




        });
    </script>
    <script>
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }
    </script>
</body>

</html>
