
@{
    ViewBag.Title = "UsernamePassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>User Name and Password</h2>
<br />
<p>•	During registration by the user on the Siyakhokha site, the user will create a unique username in such format as the City of Ekurhuleni may determine from time to time.</p>
<p>•	Unless otherwise specified, the user must change the initial password to a unique password of choice when requested to do so and/or when the Siyakhokha service is accessed for the first time.</p>
<p>•	The user undertakes to ensure that the username and password are neither easily accessible nor disclosed to any unauthorised person. Storing the username and/or password on a computer or network will be regarded as prima facie negligence.</p>
<p>•	The account holder undertakes to report any actual or attempted unauthorised access to the City of Ekurhuleni, without delay, via the Siyakhokha call centre and provide the City of Ekurhuleni with written confirmation thereof within 24 (twenty-four) hours of such notification. On receipt of notification, the City of Ekurhuleni reserves the right to deactivate the user name and/or password without further notice.</p>
<p>•	The City of Ekurhuleni may at its sole discretion and for whatever reason, require a user to change their username and/or password from time to time and the user undertakes to unconditionally comply with such a requirement.</p>
<p>•	The City of Ekurhuleni may temporarily or permanently suspend a user’s access to the Siyakhokha service in the event that the user abuses, commits or attempts to commit any form of fraud or undesirable activity, or the City of Ekurhuleni detects any potential threat by the user on the Siyakhokha site.</p>
<br />
<h2>Payment and Relation to the City of Ekurhuleni</h2>
<br />
<p>•	As part of its service offering, the City of Ekurhuleni will co-operate with various banks (the "bank") to enable the registered account holder or user to make payments due to the City of Ekurhuleni and to reconcile such payments with the account holder's records.</p>
<p>•	The registered account holder and the user understands that they enter into a direct agreement with the bank and that the City of Ekurhuleni is not a party to this agreement.</p>
<br />
<h2>Duties of the City of Ekurhuleni</h2>
<br />
<p>•	The Siyakhokha service will provide access to monthly account statements and inform users when a new statement or bill is made available on the Siyakhokha site.</p>
<p>•	The registered account holder remains liable for payment of services rendered and the failure to provide a notification or statement to the registered account holder or user does not negate this liability.</p>
<p>•	The Siyakhokha service will provide facilities to register linked accounts, submit information and provide an on-line enquiry facility.</p>
<p>•	Where the user elects to make payment to the City of Ekurhuleni through one of the payment services, the service will maintain an online record of all payments for a period of 24 months, provided that the user complies with the prescribed procedures for such payments.</p>
<br />
<h2>Disputes</h2>
<br />
<p>•	The user will refer any dispute that may arise out of this agreement to the Siyakhokha call centre, who will attempt to resolve the dispute through settlement, negotiation or mediation.</p>
<p>•	If the dispute has not been resolved within 10 (ten) business days after it was referred to the Siyakhokha call centre, the user may refer the dispute to the City of Ekurhuleni's legal department, or if payment related to the Chief Financial Officer of the City of Ekurhuleni.</p>
<br/>
<h2>Refund Policy</h2>
<br/>
<p>•	Payments for municipal services are non-refundable. In the event that a user makes an erroneous payment or in the event that a user wishes to dispute any payment already processed then the registered account holder must log a dispute with the City of Ekurhuleni Finance Department.</p>
<p>•	No refunds will be processed via the Siyakhokha service.</p>
