@model C8.eServices.Mvc.Models.Property

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Create</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.Label("Property", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Property", ((IEnumerable<SelectListItem>)ViewBag.Props), "Select", new { @class = "form-control" })
            @if (Model != null)
            {
                
            }
        </div>
    </div>
    <div id="PropertyPartial">
        @{ Html.RenderPartial("_PropertyPartial");}
    </div>
}



@section Scripts {

    <script>
        $("#Property").change(function(e) {

            var data = $('#Property').val();
           $.ajax({
                type: "GET",
                url: "@Url.Action("Populate", "RatesRebateBackOffice")",
                dataType: 'html',
                data: { id: data},
                success: function (result) {
                    $('#PropertyPartial').html(result);
                },
                error: function (data) {
                    console.log(data);
                }
        });



        });

    </script>
}
